/* Custom styles beyond Tailwind */
html {
  scroll-padding-top: 5rem; /* Håll rubriker synliga under den sticky headern */
}

.schematic object,
.schematic img {
  max-width: 100%;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
}

pre code {
  font-size: 0.8rem;
}

code {
  background: cornsilk;
  border: 1px solid blanchedalmond;
  font-weight: 600;
  color: cornflowerblue;
}

main h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

main h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

main h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

main p {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}