/* Custom styles beyond Tailwind */
.schematic object,
.schematic img {
  max-width: 100%;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
}

pre code {
  font-size: 0.8rem;
}

code {
  background: cornsilk;
  border: 1px solid blanchedalmond;
  font-weight: 600;
  color: cornflowerblue;
}

h1 {
  margin-bottom: 1.5rem;
}

h2 {
  margin-bottom: 0.5rem;
}

h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}