# ld65 linker config — 6502-program för Arduino minnesemulator
# Matar ut en binärfil med programmet på $8000 och vektorer på $FFFA

MEMORY {
    CODE:    start = $8000, size = $0800, file = %O, fill = yes;
    VECTORS: start = $FFFA, size = $0006, file = %O, fill = yes;
}

SEGMENTS {
    CODE:    load = CODE,    type = ro;
    VECTORS: load = VECTORS, type = ro;
}
